.instructions {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 30px 0;
}

@media (max-width: 600px) {
  .instructions {
    margin: 20px 20px 0;
  }
}

.instructions h3 {
  color: #333;
  margin-bottom: 10px;
}

.instructions ul {
  list-style-position: inside;
  color: #666;
  line-height: 1.8;
}

.instructions li {
  margin-bottom: 5px;
}
